.book-list {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.book-list-item {
    flex: 1 1 50%;
    /* width: 100%; */
    max-width: 580px;
    height: auto;
    margin: 1rem;
}